<!-- <ion-header>
  <ion-toolbar>
    <ion-title>pancitanview</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content  >
 
<div  *ngFor="let data of datax">
  
  <div class="featured-image">
    <img src="{{data.better_featured_image.media_details.sizes.medium_large.source_url}}">
  </div>

    <div class="business-content">

            <!-- title  -->
            <div class="business-title">
              <ion-label [innerHTML]="data.title.rendered" class="title">{{data.title.rendered}}</ion-label>
            </div>
          
          
           
          
            <!-- content / part ng description-->
            <div class="content" [innerHTML]="data.content.rendered">
              {{data.content.rendered}}
            </div>


            <div class="business-hours">
              <h3>Dining Hours</h3>
              <div class="hours"  *ngFor="let datax of data.acf.dining_hours">
                <ion-row style="border-bottom:2px solid #ccc;">
                  <ion-col size="4" size-sm>
                    {{datax.schedule.day}}
                  </ion-col>
                  <ion-col size="4" size-sm>
                    {{datax.schedule.opening_hour}}
                  </ion-col>
                  <ion-col size="4" size-sm>
                    {{datax.schedule.closing_hour}}
                  </ion-col>
                
                </ion-row>
                
              </div>
              
            </div>



            <!-- menus -->
            <div class="menus">
          
              <h3>Menus</h3>
              <p>To be updated </p>
              <!-- <div class="menudata"  *ngFor="let datax of data.acf.menu">
              
                <ion-row >
                  <ion-col size="12" size-sm>
                    <img  [src]="datax.menu_item.photo.url" alt="">
                   
                    </ion-col>
                </ion-row>
                <ion-row style="border-bottom:2px solid #ccc;">
                  <ion-col size="6" size-sm>
                  {{datax.menu_item.name}}
                  </ion-col>
                  <ion-col size="6" size-sm>
                    {{datax.menu_item.price}}
                  </ion-col>
                
                </ion-row>
              </div>
               -->
            </div>

            <div class="contact">
              <h3>Contacts</h3>
              <p>To be updated</p>
            </div>


    <!-- end content -->
    </div>
  
    
  <!-- end loop  -->
</div>





</ion-content>
