<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listahan Pansitan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="header">
    <ion-toolbar>
      <ion-title size="small">-- Pancit Place --</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-list >
    <ion-item class="pansit-lisiting" lines="none" *ngFor="let data of datax">
     


      <!-- <ion-thumbnail>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail> -->
      
       
        <ion-thumbnail slot="start">
          <img src="{{data.better_featured_image.media_details.sizes.medium.source_url}}">
        </ion-thumbnail>
        <a href="/pancitanview/{{data.id}}">
        <ion-label [innerHTML]="data.title.rendered" class="title">{{data.title.rendered}} </ion-label>

        <span class="address">{{data.acf.location.map.address}}</span>
        </a>
        
    </ion-item>

   
    
  </ion-list>

</ion-content>
