.address{font-size: 13px;}
.item:nth-child(odd){background: #adce74; padding: 25px 15px;}
.item:nth-child(odd) > .item-native{background: #adce74;}
.item a{text-decoration: none;}
.item .title{
font-weight: bold;
text-transform: uppercase;
}
.item:nth-child(even){background: #61b15a; padding: 25px 15px;}
.item img{
border-radius: 50px;
}
.header .toolbar-background {
    background: #ffce89 !important;
}
.header .title-small{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}