<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test Title</ion-title>
    </ion-toolbar>
  </ion-header>

  test 123
</ion-content>
